:root {
    --color-01: #f8f9faff;
    --color-02: #e9ecefff;
    --color-03: #dee2e6ff;
    --color-04: #ced4daff;
    --color-05: #adb5bdff;
    --color-06: #6c757dff;
    --color-07: #495057ff;
    --color-08: #343a40ff;
    --color-fondo: #151516;
}


* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html {
    background-color: var(--color-fondo);
    color: #ccc;
}

.nav {
    border-radius: 30px;
    border-bottom: 1px solid #ccc;
    text-align: center;


}

.nav__item {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;

}

.nav__a {
    text-decoration: none;
    color: #ccc;
    border-bottom: 1px solid var(--color-07);
}



.nav__dropdown {
    position: relative;
}

.nav__dropbtn {
    font-size: 16px;
    outline: none;
    color: #ccc;
    background-color: inherit;
    cursor: pointer;

}

.dropdown--content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    left: -24px;
    top: 32px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown--content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown--content a:hover {
    background-color: #dddada;
}

.nav__dropdown:hover .dropdown--content {
    display: block;
}

.btn--registro,
.btn--sesion {
    border: 1px solid var(--color-07);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 2px var(--color-02);
    background-color: var(--color-08);
    position: relative;
}

.nav__btns {
    display: inline-block;
}

.titulo{
    margin:25px 45px;
}

.card{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    margin: auto;
    border-top: 2px solid #ccc;
    transition: scale 0.4s 0.1s;
}

.card--imagen{
    height: 160px;
    padding: 20px;
    
}

.card--a{
    text-align: end;
    font-size: larger;
    text-decoration: none;
    padding: 30px;
}

.card:hover{
    scale: 1.10;
    color: #eee;
}


footer {
    color: #ccc;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    border-radius: 30px;
    border-top: 1px solid #ccc;
    
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
}

.icon {
    color: var(--color-02);
    text-decoration: none;
    padding: 25px;
    transition: font-size 0.4s 0.2s;
}

.icon:hover{
    font-size: xx-large;
    
    

}

