nav{
    background-color: black;
    color: white;
padding: 5px;
}

ul li{
    display: inline;
    
}

a{
    text-decoration: none;
    border: 2px solid grey;
    border-radius: 5px;
}